@page "/counter"
@implements Weikio.PluginFramework.Samples.Shared.IWidget

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public string Title
    {
        get { return "Counter Widget"; }
    }
}